.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
# В .gitignore добавьте:
include/config.h  # Или конкретные файлы с паролями
include/config_local.h
*.env             # Если используете .env файлы
secrets/          # Папка с секретами
build/
# Secrets and certificates
main/certs/*.key
main/certs/*private*
*.pem

# Local ESP-IDF configuration
sdkconfig
sdkconfig.old
